<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='admin_dashboard.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Admin-Dashboard</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="admin-permissions">
        <div class="permissions-item">
            <form action="{{ url_for('profile.view_profile') }}" method="GET">
                <button> <i class="fa-brands fa-black-tie"></i> {{current_user.username}}</button>
            </form>
        </div>

        <div class="permissions-item">
            <form action="{{ url_for('files.upload') }}" method="GET">
                <button> <i class="fa-solid fa-upload"></i> Upload File</button>
            </form>
        </div>
        <div class="permissions-item">
            <a href="{{ url_for('admin-logs.view_logs') }}">
                <button> <i class="fa-solid fa-file"></i> View Logs</button>
            </a>
        </div>
        <div class="permissions-item">
            <a href="{{ url_for('admin-del.del_files') }}">
                <button><i class="fa-solid fa-circle-xmark"></i> Delete Files</button>
            </a>
        </div>

        <div class="permissions-item">
            <a href="{{ url_for('admin_users.list_users') }}">
                <button> <i class="fa-solid fa-user"></i> Manage Users</button>
            </a>
        </div>

        <div class="permissions-item">
            <a href="{{ url_for('admin_teams.list_teams') }}">
                <button> <i class="fa-solid fa-people-group"></i> Manage Teams</button>
            </a>
        </div>

        <div class="permissions-item">
            <a href="{{url_for('archive-files.list_files')}}">
                <button> <i class="fa-solid fa-box-archive"></i> Archive Files</button>
            </a>
        </div>
        <div class="permissions-item">
            <a href="{{ url_for('admin-security-logs.view_security_logs') }}">
                <button> <i class="fa-solid fa-lock"></i> Security Logs</button>
            </a>
        </div>

        <div class="permissions-item">
            <a href="{{ url_for('view-issue.view_issues') }}">
                <button> <i class="fa-solid fa-bug"></i> View Issues</button>
            </a>
        </div>

        <div class="permissions-item logout">
            <a href="{{ url_for('auth.logout') }}">
                <button><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</button>
            </a>
        </div>

    </div>

    <div class="admin-dashboard">
        <div>{% include "_flashes.html" %}</div>
        <h2 class="header">Admin Dashboard</h2>

        <!-- <h4 class="dash-header">Dashboard</h4> -->

        <div class="admin-dashboard-in">
            <div class="dash-item">
                <p>Total Users</p>
                <div class="stat">{{total_users}}</div>
            </div>
            <div class="dash-item">
                <p>Total Files</p>
                <div class="stat">{{total_files}}</div>
            </div>
            <div class="dash-item">
                <p>Total Logs</p>
                <div class="stat">{{total_logs}}</div>
            </div>
            <div class="dash-item">
                <p>Total Errors</p>
                <div class="stat">{{total_errors}}</div>
            </div>
            <div class="dash-item">
                <p>Last File at</p>
                <div class="stat time">{{last_file_at}}</div>
            </div>
            <div class="dash-item">
                <p>Total Archives</p>
                <div class="stat">{{total_archives}}</div>
            </div>
            <div class="dash-item">
                <p>Total Actions</p>
                <div class="stat">{{total_actions}}</div>
            </div>
            <div class="dash-item">
                <p>Biggest File</p>
                <div class="stat file-name">{{biggest_file}}</div>
            </div>
            <div class="dash-item">
                <p>Avg Logs<br>Per File</p>
                <div class="stat time">{{avg_logs_per_file}}</div>
            </div>
            <div class="dash-item">
                <p>Avg Error Logs<br>Per File</p>
                <div class="stat">{{avg_errors_per_file}}</div>
            </div>
            <div class="dash-item">
                <p>Top Contributor<br>(Team)</p>
                <div class="stat">{{top_contributor_team}}</div>
            </div>
            <div class="dash-item">
                <p>Top Contributor<br>(User)</p>
                <div class="stat file-name">{{top_contributor_user}}</div>
            </div>
        </div>

        <div class="charts">
            <div class="pie-chart" style="width: 300px; height: 300px;">
                <canvas id="teamUploadsPie"></canvas>
            </div>
            <div class="line-chart" style="width: 400px; height: 300px;">
                <canvas id="uploadsLineChart"></canvas>
            </div>
        </div>
        <div class="in-analysis">
            <div class="severity-analytics">
                <h6>Severity Analytics (No.of Logs per Severity-Level)</h6>
                <table border="1">
                    <tr>
                        <th>Severity Level</th>
                        <th>No.of Logs</th>
                    </tr>

                    {% for slog in slogs %}
                    <tr>
                        <td>{{ slog.severity_code }}</td>
                        <td>{{ slog.nlog}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="severity-analytics">
                <h6>Users Uploading More than 3 files last week</h6>
                <table border="1">
                    <tr>
                        <th>Username</th>
                        <th>No.of Files</th>
                    </tr>

                    {% for muser in musers %}
                    <tr>
                        <td>{{ muser.username }}</td>
                        <td>{{ muser.fcount}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="in-analysis">
            <div class="severity-analytics">
                <h6>Security logs from last 7 days</h6>
                <table border="1">
                    <tr>
                        <th>Log ID</th>
                        <th>File Name</th>
                        <th>Log Timestamp</th>
                        <th>Severity</th>
                        <th>Log Message</th>
                    </tr>

                    {% for seclog in seclogs %}
                    <tr>
                        <td>{{ seclog.log_id }}</td>
                        <td>{{ seclog.original_name}}</td>
                        <td>{{ seclog.ts}}</td>
                        <td>{{ seclog.severity_code}}</td>
                        <td>{{ seclog.message_line}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script>
        const teamNames = JSON.parse('{{ team_names | tojson | safe }}');
        const Uploads = JSON.parse('{{ uploads | tojson | safe }}');

        const ctx = document.getElementById('teamUploadsPie').getContext('2d');

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: teamNames,
                datasets: [{
                    label: 'Total Uploads',
                    data: Uploads,
                    backgroundColor: [
                        '#4CAF50',
                        '#3f9f9f',
                        '#93E9BE',
                        '#125066 ',
                        '#F44336',
                        '#00BCD4'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom'
                    },
                    title: {
                        display: true,
                        text: 'Team-wise File Upload Distribution'
                    }
                }
            }
        });

        // ....line chart

        const datesx = JSON.parse('{{ dates | tojson | safe }}');
        const date_files_county = JSON.parse('{{ date_files_count | tojson | safe }}');

        const cty = document.getElementById('uploadsLineChart').getContext('2d');

        new Chart(cty, {
            type: 'line',
            data: {
                labels: datesx,
                datasets: [{
                    label: 'Number of Uploads',
                    data: date_files_county,
                    borderColor: '#0EA468',
                    fill: false,
                    tension: 0.3,   // smooth curve
                    borderWidth: 2,
                    pointRadius: 4,
                    pointHoverRadius: 6
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Daily Upload Activity'
                    },
                    legend: {
                        display: true,
                        position: 'top'
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Upload Date'
                        }
                    },
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Uploads Count'
                        },
                        ticks: {
                            precision: 0
                        }
                    }
                }
            }
        });
    </script>

</body>

</html>