@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #2f2e2e;
    font-family: "Zalando Sans Expanded", sans-serif;
}

/* body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

} */
.register {
    width: 100%;
    /* height: 90vh; */
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.register-in {
    width: 350px;
    /* height: 670px; */
    padding: 10px;
    background-color: #3a3838;
    box-shadow: 0px 2px 2px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* margin: auto; */
}

.register-in h2 {
    color: white;
    text-align: center;
    background-color: #3a3838;

}

.register-in form {
    background-color: #3a3838;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */

}

.register-in form input {
    background-color: white;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px
}

.register-in form input:focus {
    border: 2px solid rgb(14, 164, 104);
}


.register-in form select,
.register-in form label,
.register-in form div {
    background-color: #3a3838;
    color: white
}

.register-in form div {
    display: flex;
    justify-content: space-between;
}

.register-in form select {
    width: 130px;
}

.register-in form button {
    background-color: rgb(14, 164, 104);
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.register-in a {
    background-color: rgb(14, 164, 104);
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}