@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #2f2e2e;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.header {
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0px;
}

/* .filters {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.filters form {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.filters form select {
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.filters form button {
    padding: 5px;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(14, 164, 104);
    ;
} */

.table-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.table-view th,
.table-view td {
    padding: 5px;
    color: rgb(221, 221, 221);
    /* border: 1px solid grey; */
}

.table-view td {
    font-size: 14px;
    border: 1px solid grey;

}

.table-view th {
    color: white;
    background-color: rgb(14, 164, 104);
    border: 1px solid black;
    /* border-bottom: 1px solid grey; */
}

.table-view tr:nth-child(even) td {
    /* transition: 0.2 ease; */
    background-color: #3a3838;
}

/* .table-view table tr:hover {
    background-color: aliceblue;
} */

.table-view a {
    padding: 5px;
    color: black;
    outline: none;
    border: 1px solid rgb(14, 164, 104);
    border-radius: 5px;
    background-color: rgb(14, 164, 104);
    text-decoration: none;
    transition: 0.2s ease;


}

/* .table-view form{
   
} */
.table-view form button {
    padding: 2px;
    outline: none;
    border: 1px solid rgb(217, 178, 81);
    ;
    background-color: rgb(217, 178, 81);
    border-radius: 5px;
    transition: 0.2s ease;
}

.table-view form button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}



.table-view .actions {
    display: flex;
    gap: 5px;

}

.table-view .actions a {
    padding: 2px;
}

.table-view a:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}