@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #2f2e2e;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.header {
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0px;
}

.table-view {
    /* background-color: #3a3838; */
    background-color: #2f2e2e;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    color: white
}

 .table-view td,
 .table-view th {
    padding: 10px;
    border: 1px solid grey;
}

th {
    color: rgb(14, 164, 104);
}

.table-view form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /* padding: 10px */
}

.table-view form input {
    background-color: rgb(191, 191, 191);
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.table-view form button {
    /* margin: auto; */
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(234, 77, 77);
    border: none;
    outline: none;
    transition: 0.2s ease;
    box-sizing: border-box;
    margin: 0px;
    /* margin-bottom: 10px; */

}

.table-view form button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white
}

.table-view a {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(14, 164, 104);
    border: none;
    outline: none;
    transition: 0.2s ease;
    text-decoration: none;
    color: black;
}

.table-view a:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
