@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #2f2e2e;
    font-family: "Zalando Sans Expanded", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 300px;
    height: 350px;
    padding: 20px;
    /* height: 100vh; */
    /* margin: auto; */
    color: white;
    background-color: #3a3838;
    box-shadow: 0px 0px 5px rgb(14, 164, 104);
    border-radius: 10px;

}

.login form {
    background-color: #3a3838;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

.login h2 {
    text-align: center;
    background-color: #3a3838;
    ;
}

.login form input {
    background-color: white;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    /* transition:0.2s ease; */
}

.login form input:focus{
    border: 2px solid rgb(14, 164, 104);
}
.login form button {
    background-color: rgb(14, 164, 104);
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 85px;
    height: 29px;
    font-size: 16px;
}

.login .register {
    display: flex;
    flex-direction: column;
    background-color: #3a3838;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.login .register p {
    background-color: #3a3838;
}


.login .register a {
    color: black;
    background: rgb(14, 164, 104);
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 75px;

}