 /* .nav-out {
    /* top: 0; */
 /* position: static; */
 /* z-index: 1000; */
 /* width: 100%; */
 /* margin-bottom: 150px; 
}   */


 .navbar {
     font-optical-sizing: auto;
     font-weight: bold;
     font-style: normal;
     color: white;
     box-shadow: 0px 1px 5px rgb(14, 164, 104);
     background-color: #2f2e2e;
     top: 0px;
     z-index: 1000;
     position: sticky;
     width: 100%;
 }

 .container-fluid {
     padding: 0px 40px;
 }

 .navbar a {
     color: white;
     transition: 0.2s ease;
 }

 .navbar .login {
     /* padding :0px 5px; */
     border-radius: 5px;
     background-color: rgb(14, 164, 104);
     /* color:black; */
 }

 .navbar a:hover {
     color: rgb(14, 164, 104);
 }